*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    overflow-y: auto;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    height: 8vh;
}

.nonBars{
    background-color: white;
}
.bars{
    background-color: #22ce64;
}
label.logo{
    font-size: 4vh;
    color:antiquewhite ;
    font-weight: bold; 
    display: inline-block;
    line-height: 5vh;
    margin-top: 1vh;
}
#titleImg{
    height: 3.5vh;
    width: auto;
    float: left;
    margin-top: 2vh;
    margin-right: 0.5vw;
    margin-left: 38vw;
}
nav ul{
    float: right;
    margin-right: 1vw;
}
nav ul li{
    display: inline-block;
    line-height: 5vh;
    margin-top: 1.2vh;
}
nav ul li a{
    color: beige;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 10px;
}
.activeOnHover:hover{
    background-color:  #88ffb5 ;
    transition: 0.3s;
}
label a{
    color:beige;
}
#currentCity{
    color: black;
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 5vh;
    font-weight: bold;
    font-size: 8vh;
}
#city:focus{
    outline: none;
}
#cityForm{
    border: 1px solid #ccc;
    width: 30vw;
    margin: 0vh auto;
    border-radius: 10px;
}
#cityForm input[type="text"], #cityForm textarea{
    width: 26vw;
    height: auto;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: transparent;
}
#cityForm button[type="submit"] {
    width: 3vw;
    height: auto;
    background-color: transparent;
    border: none;
    margin-top: 1.3vh;
    padding-right: 0.5vw;
    cursor: pointer;
    float: right;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 3vw 10vh 3vw;
}
.tile {
    border-radius: 20px;
    height: 40vh;
    width: 30vw;
    background-color: #ffcc4d ;
    color: black;
    overflow: hidden;
}
.weatherData{
    padding: 10px;
    font-weight: bold;
    text-align: left;
}
.weatherIcon{
    height: 12vh;
    width: auto;
    margin-left: 2vw;
    padding: 10px;
}
.tempTitle{
    position: absolute;
    top: 48.5vh; 
    z-index: 1;
    font-size: 5vh;
    font-weight: bold;
    color:black;
}
#tempTitle1{
    left: 17vw; 
}
#tempTitle2{
    left: 50.5vw; 
}
#tempTitle3{
    left: 83.5vw;
}
.weatherTable{
    overflow:hidden;
    bottom: 0;
    left: 0;
    right: 0;
}
.weatherSource{
    text-align: center;
    margin-top: 1vh;
    font-size: 1vh;
    color: black;
    font-style: italic;
}
.weatherSource a{
    color: #000;
}
.bottomImg{
    height: 2vh;
    width: auto;
    margin-top: 0.2vh;
}
#bottomBar{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#bottomTitle{
    margin-left: 0.5vw;
    margin-top: 0.4vh;
    margin-bottom: 0.5vh;
    float:left;
}
#bottomIcon{
    margin-left: 45vw; 
    float: left;
    margin-top: 0.5vh;
}
#bottomBar ul{
    display: flex;
    float: right;
    margin-right: 3vw;
    padding: 0;
}
#bottomBar ul li{
    line-height: 4vh;
    list-style: none; 
}
#bottomBar ul li a{
    color: beige;
    text-transform: uppercase;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 10px;
}
#aboutBody{
    margin-top: 10vh;
    max-width: 80vw;
    margin-left: 10vw;
    background-color: #88ffb5;
    border-radius: 20px;
    height: 60vh;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
}
#scrollButton {
    display: none;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    background-color: #ff9d33 ;
    color: black;
    border-style:outset;
    border-radius: 50%;
    padding: 15px 20px;
    cursor: pointer;
    opacity: 0.8;
    border-color: #ff9d33;
}
#scrollImg{
    width: 20px;
    height: auto;
}
#copyMessage{
    display: none;
    position: fixed;
    bottom: 4vh;
    right: 2vw;
    opacity: 0.5;
    background-color: grey;
    border-radius: 5px;
}
#mail{
    cursor: pointer;
}
#contactBody{
    margin-top: 10vh;
    max-width: 80vw;
    margin-left: 10vw;
    background-color: #88ffb5;
    padding: 1vh;
    border-radius: 20px;
    height: 60vh;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
}


@media screen and (max-width: 1150px) {
    label.logo {
        display:none;
    }
    #titleImg{
        margin-left: 49vw;
    }
    #bottomTitle{
        display:none;
    }
    #bottomBar ul li .activeOnHover{
        display:none;
    }
    #bottomIcon{
        margin-left: 51vw;
    }
}
  